<h1>FRIENDS LIST</h1>

<% friends.forEach(function(friend){ %>
   <li><%=friend%></li>
<% }); %>

<form action="/addfriend" method="post">
    <input type="text" placeholder="name">
    <button> I made a new friend</button>
    
</form>