<%  include partials/header%>

<link rel="stylesheet" href="app.css">

<h1>This is home page!</h1>

<img src="https://animalso.com/wp-content/uploads/2016/10/Pomsky-5.jpg" alt="pomsky image place">

<%  include partials/footer%>